* {
    margin: 0;
    padding: 1;
}
.container {
    background-color: white;
    padding: 5px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "a b b b"
    "a c c d"
    "a e f d";
}
.hh{
background-color:red;
grid-area: a;
height: 100vh; 
}
.yy{
    background-color: lightgreen;
    grid-area: b;
    height: 20vh;
    width: 100%;
}
.ww {
background-color: aqua;
grid-area: c;
height: 40vh;
}
.qq {
    grid-area: d;
    background-color: orange;
    height: 80vh;
}
.yy{
background-color: yellow;
grid-area: e;
height: 40vh;
}
.zolte {
background-color: yellow;
grid-area: f;
height: 40vh;
}
