.g {
    background-color: green;
   
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "a a b b b b" "a a c c f f" "a a d e f f";
}

.a {
    background-color: red;
    grid-area: a;
    margin: 5px;
}

.b {
    background-color: lime;
    grid-area: b;
    margin: 5px;
}

.c {
    background-color: lightskyblue;
    grid-area: c;
    margin: 5px;
}

.d {
    background-color: yellow;
    grid-area: d;
    margin: 5px;
}

.e {
    background-color: yellow;
    grid-area: e;
    margin: 5px;
}

.f {
    background-color: orange;
    grid-area: f;
    margin: 5px;
}
