* {
    margin: 0;
    padding: 1;
}
.container {
    background-color: green;
    paddomg: 5px;
    height: 120vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "a b d"
    "a c d"
    "a e d";
}
.jeden{
    background-color:red;
    grid-area: a;
    height: 100vh; 
}
