.h {
    background-color: darkorange;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "a a b b c c" "d d d d f f" "e e e e f f";
}

.a {
    background-color: lime;
    grid-area: a;
    margin: 5px;
}

.b {
    background-color: goldenrod;
    grid-area: b;
    margin: 5px;
}

.c {
    background-color: red;
    grid-area: c;
    margin: 5px;
}

.d {
    background-color: yellow;
    grid-area: d;
    margin: 5px;
}

.e {
    background-color: orange;
    grid-area: e;
    margin: 5px;
}

.f {
    background-color: lightskyblue;
    grid-area: f;
    margin: 5px;
}
